.header {
    
	display: flex;
	flex-direction: row;
    height: 100px; 
	justify-content: space-between;
	align-items: center;
    background-color: #74757B;
    padding: 20px;
    
}

.image {

    position: relative;
    display: inline-block;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}



.SignContainer {
    
    display: flex;
    justify-content: space-between;
	align-items: center;
    }

.Signup {
    
    margin: 21px;
    padding: 10px;  
    background-color: #D9D9D9;
    color: #74757B;
}

.Signin {

    margin: 21px;
    padding: 10px;
    background-color: #D9D9D9;
    
    color: #74757B;

}


.registerSection {

    
	display: flex;
	flex-direction: column;
	align-items: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 400;
    background-color: #D9D9D9;
    border : 2px solid #000;
    box-shadow: 24;
    padding : 10px;
    border: 1px solid #000;
    outline: none;
    justify-content: space-between;
    margin: 10px 0; 
    width: 100%; 
    padding: 5px; 
    }
    .signUpEmail {

        margin-top: 10px;
        margin-right: 15px;
        margin-bottom: 5px;
        margin-left: 20px;


    }