


.h2 {
    background-color: #D9D9D9; /* Couleur de fond du titre */
    border-radius: 8px; /* Rayon des coins arrondis */
    padding: 10px; /* Espacement intérieur */
    text-align: center; /* Centrer le texte */
    margin-bottom: 20px; /* Espace sous le titre */
    color: #74757B ;
}



.roomsNumber {
    border: 1px solid #D9D9D9;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
    width: 100px; /* Ajustez la largeur ici */
    height: 100px; /* Ajustez la hauteur ici */
    
}

.heures {
    
    display: flex; /* Utiliser Flexbox pour aligner les éléments */
    justify-content: center; /* Centrer les éléments horizontalement */
    align-items: center; /* Aligner les éléments verticalement */
    border: 1px solid #ccc;
    


}

.containerRow {
    display: flex;
    justify-content: space-around; /* Ajustez l'espacement selon vos besoins */
    align-items: center;
}

.datetime {

    display: flex;
    align-items: center; 
    justify-content:center;
}
.confirmation{
    display: flex;
    align-items: center; 
    justify-content:center;
    margin-top: 50px;
 }
 .btnconf{
    background-color:  #ccc;
    color: #74757B;

 }