.container {
    background-color: #A9A9A9;
    padding: 20px;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.h2 {
    background-color: #D9D9D9;
    padding: 15px;
    text-align: center;
    border-radius: 10px;
    color: #74757B;
}

.h3 {
    margin-bottom: 10px;
    color: #555;
    font-size: 1.3rem;
}

.reservationBox {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    max-width: 600px;
    margin: auto;
}

.section {
    margin-bottom: 20px;
    padding: 15px;
    border-radius: 8px;
    background: #f0f0f0;
}

.containerGrid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 15px;
}

.roomsNumber {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 15px;
    background: #D9D9D9;
    border-radius: 10px;
    width: 130px;
}

.counterButtons {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 10px;
}

.heures, .datetime, .confirmation {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnconf {
    background-color: #ccc;
    color: #74757B;
}